*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class] {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body,
h1,
h2,
h3,
h4,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    color: #FFF;
    text-decoration: none;
}
a:hover, a:visited, a:focus {
    color: rgba(255, 255, 255, .76);
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select,
label {
    font: inherit;
}

select,
textarea,
input {
    width: 100%;
}

html, body {
    font-size: 20px;
    line-height: normal;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 10px;
}

body {
    min-height: 100vh;
    background-color: #000;
    color: #FFF;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: 20px;
    overflow-x: hidden;
}

